**/__pycache__/

*.pyc
*.pyo
*.mat
*.json
*.png
.ipynb_checkpoints
tutorial.ipynb

data
runs
data_generation/my_results
data_generation/old_pfdelta
data_generation/opfdata
data_generation/opflearn
data_generation/my_results
data_generation/final_data_no_exp
data_generation/seed_exp_data
data_generation/pglib
